@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Racing+Sans+One&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  /* font-size: 1.05rem; */
}

h1,h2 {
  font-family: 'Racing Sans One', cursive;
}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
    box-shadow: none;
    outline: none;
}